@model OJS.Web.Areas.Contests.ViewModels.QuestionViewModel

<div class="form-group">
    @Html.HiddenFor(x => x.QuestionId)
    <div class="editor-label">
        @Html.Label(Model.Question, Html.ValueFor(x => x.Question))
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.Answer)
        @Html.ValidationMessageFor(x => x.Answer)
    </div>
</div>