@using GeneralResource = Resources.Areas.Administration.AdministrationGeneral;
@using Resource = Resources.Areas.Administration.Roles.Views.RolesIndex;
@{
    ViewBag.Title = Resource.Page_title;
    const string ControllerName = "Roles";
}
<h1>@ViewBag.Title</h1>

@(Html.Kendo().Grid<OJS.Web.Areas.Administration.ViewModels.Roles.RoleAdministrationViewModel>()
    .Name("DataGrid")
    .Columns(columns =>
    {
        columns.Bound(col => col.Name);
        columns.Command(command => command.Edit().Text(" ").UpdateText(GeneralResource.Change).CancelText(GeneralResource.Cancel)).Width(80);
        columns.Command(command => command.Destroy().Text(" ")).Width(80);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create().Text(GeneralResource.Create);
        toolbar.Custom().Text(GeneralResource.Back_to_navigation).Action("Navigation", "Administration", new { Area = "" }).Name("custom-toolbar-button");
        toolbar.Custom().Text(GeneralResource.Export_to_excel).Name("custom-toolbar-button").HtmlAttributes(new { id = "export" }).Url(Url.Action("ExportToExcel", ControllerName, new { page = 1, pageSize = "~", filter = "!!", sort = "~" }));
    })
    .Editable(editable =>
    {
        editable.Mode(GridEditMode.PopUp);
        editable.Window(w => w.Title(ViewBag.Title));
        editable.DisplayDeleteConfirmation(GeneralResource.Delete_prompt);
    })
    .ClientDetailTemplateId("users-in-role")
    .ColumnMenu()
    .Events(e => e.DataBound("onDataBound"))
    .Pageable(x => x.Refresh(true))
    .Sortable(x => x.Enabled(true).AllowUnsort(false))
    .Filterable(x => x.Enabled(true))
    .Reorderable(x => x.Columns(true))
    .Resizable(x => x.Columns(true))
    .DataSource(datasource => datasource
        .Ajax()
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(m => m.RoleId);
        })
        .Sort(sort => sort.Add(x => x.Name).Descending())
        .Create(create => create.Action("Create", ControllerName))
        .Read(read => read.Action("Read", ControllerName))
        .Update(update => update.Action("Update", ControllerName))
        .Destroy(destroy => destroy.Action("Destroy", ControllerName))
        .Events(ev => ev.Error("validateModelStateErrors"))
    )
)

<script type="text/javascript">
    function onDataBound(e) {
        CreateExportToExcelButton();
    }
</script>

<script type="text/x-kendo-template" id="users-in-role">
    @(Html.Kendo().Grid<OJS.Web.Areas.Administration.ViewModels.User.UserProfileSimpleAdministrationViewModel>()
        .Name("DetailGrid_#=Name#")
        .Columns(columns =>
        {
            columns.Bound(m => m.Username);
            columns.Bound(m => m.FirstName);
            columns.Bound(m => m.LastName);
            columns.Bound(m => m.Email);
            columns.Command(com => com.Destroy().Text(" ")).Width(80);
        })
        .ToolBar(tool => 
        {
            tool.Create().Text(GeneralResource.Create);
        })
        .Editable(edit => 
        {
            edit.Mode(GridEditMode.PopUp);
            edit.Window(w => w.Title(ViewBag.Title));
            // edit.AdditionalViewData(new { RoleId = "#= RoleId #" });
            // TODO: Send to editor template the current RoleId so that users in current role cannot dublicate
            edit.TemplateName("UsersComboBox");
            edit.DisplayDeleteConfirmation(GeneralResource.Delete_prompt);
        })
        .Pageable(x => x.Refresh(true))
        .DataSource(data => 
        {
            data.Ajax()
            .ServerOperation(true)
            .Model(model =>
            {
                model.Id(m => m.UserId);
            })
            .Sort(sort => sort.Add(field => field.Username))
            .Create(create => create.Action("AddUserToRole", ControllerName, new { id = "#= RoleId #" }))
            .Read(read => read.Action("UsersInRole", ControllerName, new { id = "#= RoleId #" }))
            .Destroy(destroy => destroy.Action("DeleteUserFromRole", ControllerName, new { id = "#= RoleId #" }));
        })
        .ToClientTemplate())
</script>
