@using OJS.Web

@{
    ViewBag.Title = "Съобщение";

    var externalJudgeRegisterFullAddress = string.Format(GlobalConstants.ExternalJudgeRegisterUrlFormat, Settings.SulsPlatformBaseUrl);
}

<h2>Съжаляваме за неудобството</h2>
<p>
    Ако искате да се регистирате, променяте акаунта си или да възстановите своята парола, моля използвайте главния сайт на <a href="@externalJudgeRegisterFullAddress" target="_blank">Софтуерния универсистет</a>.
</p>
<br />
<hr />
<h2>Sorry for the interruption</h2>
<p>
    If you want to register, change your account or restore password, please visit main web site of <a href="@externalJudgeRegisterFullAddress?lang=en" target="_blank">Software university</a>.
</p>