@using OJS.Web

@using Resource = Resources.Account.Views.ExternalNotify;

@{
    ViewBag.Title = Resource.Page_title;

    var langCookieName = System.Globalization.CultureInfo.CurrentUICulture.Name != GlobalConstants.BulgarianCultureInfoName
        ? GlobalConstants.EnglishCultureCookieValue
        : GlobalConstants.BulgarianCultureCookieValue;

    var externalRegisterFullAddress = $"{string.Format(UrlConstants.ExternalRegisterUrlFormat, Settings.SulsPlatformBaseUrl)}?lang={langCookieName}";
}

<h2>@Resource.Sorry_for_the_inconvenience</h2>
<p>
    @Html.Raw(string.Format(Resource.External_register_message, externalRegisterFullAddress))
</p>