@{
    ViewBag.Title = "Съобщение";
}

<h2>Съжаляваме за неудобството</h2>
<p>
    Ако искате да се регистирате, променяте акаунта си или да възстановите своята парола, моля използвайте главния сайт на <a href="https://softuni.bg/account/authenticate" target="_blank">Софтуерния универсистет</a>.
</p>

