<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net47" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net461" />
  <package id="Hangfire.Core" version="1.6.15" targetFramework="net47" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="MissingFeatures.NET" version="1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
</packages>