@model OJS.Web.Areas.Users.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Профил";
}

<ol class="breadcrumb">
    <li><a href="/">Начало</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="row">
    @if (Model == null)
    {
        <div class="alert alert-info">
            Грешка - невалиден профил.
        </div>
    }
    else
    {
        @Html.Partial("_ProfileInfo", Model)
    }
</div>
