@model OJS.Web.Areas.Users.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = string.Format("Профил на {0}", Model.Username);
}

<ol class="breadcrumb">
    <li><a href="/">Начало</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="row">
    @Html.Partial("_ProfileInfo", Model)
</div>
