.number-input {
    text-align: left;
}

.number-input > input {
    width: 100%;
    background-color: #f7f9f9;
    font-size: 2em;
    border: 1px solid #96dbf8;
    border-radius: 5px;
    margin-left: 0;
}

.number-input > input:focus {
    box-shadow: 0 0 1pt 1pt #96dbf8;
}

.number-input > input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    height: 50px;
}

#confirm-window-pop-up {
    padding: 30px;
    background-color: #F7F9F9;
    border: 1px solid #2C3E50;
    border-radius: 10px;
    width: 50%;
}

#confirm-window-pop-up h3 {
    margin-bottom: 40px;
    margin-top: 0;
}

#confirm-window-pop-up > div {
    margin-top: 15px;
}