.CodeMirror-merge,
.CodeMirror-merge .CodeMirror {
    height: 150px;
}

    .CodeMirror-merge .CodeMirror-code, .diff {
        color: #fff;
    }

.CodeMirror-merge-l-chunk-end, .CodeMirror-merge-l-chunk-start {
    border: none;
}

.CodeMirror-merge-l-chunk {
    background: transparent;
}

.CodeMirror-merge-2pane .CodeMirror-merge-pane {
    width: 50%;
}

.CodeMirror-merge-2pane .CodeMirror-merge-gap {
    width: 0;
}

.diff {
    padding: 10px;
    background-color: #AAA;
    border-color: #AAA;
}

span.CodeMirror-merge-l-deleted {
    background: none;
    background-color: rgb(199, 13, 13);
}

span.CodeMirror-merge-l-inserted {
    background: none;
    background-color: rgb(12, 108, 12);
}