<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=OnlineJudgeSystem;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CSharpCompilerPath" value="C:\Program Files (x86)\MSBuild\14.0\Bin\csc.exe" />
    <add key="CPlusPlusGccCompilerPath" value="C:\mingw-w64\mingw64\bin\g++.exe" />
    <add key="MsBuildExecutablePath" value="C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe" />
    <add key="NuGetExecutablePath" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\nuget.exe" />
    <add key="NodeJsExecutablePath" value="C:\Program Files\nodejs\node.exe" />
    <add key="MochaModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\mocha\bin\_mocha" />
    <add key="ChaiModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\chai" />
    <add key="JsDomModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\jsdom" />
    <add key="JQueryModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\jquery" />
    <add key="HandlebarsModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\handlebars" />
    <add key="SinonModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\sinon" />
	<add key="SinonJsDomModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\sinon\pkg\sinon.js" />
    <add key="SinonChaiModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\sinon-chai" />
    <add key="UnderscoreModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\underscore" />
	<add key="BrowserifyModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\browserify" />
	<add key="BabelifyModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\babelify" />
	<add key="Es2015ImportPluginPath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\babel-plugin-transform-es2015-modules-commonjs" />
    <add key="BabelCoreModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\babel-core" />
    <add key="ReactJsxPluginPath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\babel-plugin-transform-react-jsx" />
    <add key="ReactModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\react\lib\React.js" />
    <add key="ReactDOMModulePath" value="C:\Users\Administrator\AppData\Roaming\npm\node_modules\react\lib\ReactDOM.js" />
	<add key="JavaCompilerPath" value="C:\Program Files\Java\jdk1.8.0_77\bin\javac.exe" />
    <add key="JavaExecutablePath" value="C:\Program Files\Java\jdk1.8.0_77\bin\java.exe" />
    <add key="PythonExecutablePath" value="C:\Program Files\Python35\python.exe" />
    <add key="PhpCgiExecutablePath" value="C:\Program Files\PHP\php-cgi.exe" />
    <add key="PhpCliExecutablePath" value="C:\Program Files\PHP\php.exe" />
    <add key="NodeJsBaseTimeUsedInMilliseconds" value="50" />
    <add key="NodeJsBaseMemoryUsedInBytes" value="8388608" />
    <add key="SqlServerLocalDbMasterDbConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=True" />
    <add key="SqlServerLocalDbRestrictedUserId" value="OJS-Restricted" />
    <add key="SqlServerLocalDbRestrictedUserPassword" value="123123" />
    <add key="MySqlSysDbConnectionString" value="Server=localhost;Database=sys;UID=root;Password=root" />
    <add key="MySqlRestrictedUserId" value="OJS-Restricted" />
    <add key="MySqlRestrictedUserPassword" value="123123" />
    <add key="ThreadsCount" value="4" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="OJS.Workers.LocalWorker_Log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>