<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailServerHost" value="smtp.gmail.com" />
    <add key="EmailServerPort" value="587" />
    <add key="EmailServerUsername" value="test123test321test123test321" />
    <add key="EmailServerPassword" value="t3stovAcc0unt" />
    <add key="EmailSenderEmail" value="test123test321test123test321@gmail.com" />
    <add key="EmailSenderDisplayName" value="Test" />
    <add key="DevEmail" value="gogo4ds@gmail.com" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>