@using Resources = Resources.Areas.Administration.Submissions.Views.SubmissionsCreate;
@model OJS.Web.Areas.Administration.ViewModels.Submission.SubmissionAdministrationViewModel

@{
    ViewBag.Title = Resources.Page_title;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_SubmissionForm", Model)

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}