@{
    ViewBag.Title = "Състезания";
    const string ControllerName = "Contests";
}
<h1>@ViewBag.Title</h1>

@(Html.Kendo().Grid<OJS.Web.Areas.Administration.ViewModels.Contest.ContestAdministrationViewModel>()
    .Name("DataGrid")
    .Columns(columns =>
        {
            columns.Bound(x => x.Id);
            columns.Bound(x => x.Name);
            columns.Bound(x => x.StartTime).Format("{0:dd/MM/yyyy HH:mm}");
            columns.Bound(x => x.EndTime).Format("{0:dd/MM/yyyy HH:mm}");
            columns.Bound(x => x.PracticeStartTime).Format("{0:dd/MM/yyyy HH:mm}");
            columns.Bound(x => x.PracticeEndTime).Format("{0:dd/MM/yyyy HH:mm}");
            columns.Bound(x => x.IsVisible).Hidden();
            columns.Template(@<text></text>).ClientTemplate("<a class='k-button' href='" + Url.Action("Contest", "Participants") + "/#=Id#'>Участници</a>").Title("Участници");
            columns.Bound(x => x.CreatedOn).Format("{0:dd/MM/yyyy HH:mm}").Hidden();
            columns.Bound(x => x.ModifiedOn).Format("{0:dd/MM/yyyy HH:mm}").Hidden();
            columns.Template(@<text></text>).ClientTemplate("<a class='k-button' href='" + Url.Action("Edit", "Contests") + "/#=Id#'>Промяна</a>").Title("Промяна");
            columns.Command(command => command.Destroy().Text(" ")).Width(80).Title("Изтриване");
            columns.Template(@<text></text>).ClientTemplate("<a class='k-button' href='" + Url.Action("Export", "Contests") + "/#=Id#?compete=true'>На състезанието</a><br /><a class='k-button' href='" + Url.Action("Export", "Contests") + "/#=Id#?compete=false'>На упражненията</a>").Title("Експорт").Width(200);
        })
    .ToolBar(toolbar =>
    {
        toolbar.Custom().Text("Създай").Action("Create", ControllerName);
        toolbar.Custom().Text("Обратно към администрацията").Action("Navigation", "Administration", new { Area = "" }).Name("custom-toolbar-button");
        toolbar.Custom().Text("Експорт към Excel").Name("custom-toolbar-button").HtmlAttributes(new { id = "export" }).Url(Url.Action("ExportToExcel", ControllerName, new { page = 1, pageSize = "~", filter = "!!", sort = "~" }));
    })
    .Editable(editable =>
    {
        editable.Mode(GridEditMode.PopUp);
        editable.Window(w => w.Title(ViewBag.Title));
        editable.DisplayDeleteConfirmation("Наистина ли искате да изтриете елемента?");
    })
    .ColumnMenu()
    .ClientDetailTemplateId("questions-template")
    .Events(e => e.DataBound("onDataBound"))
    .Pageable(x => x.Refresh(true))
    .Sortable(x => x.Enabled(true).AllowUnsort(false))
    .Filterable(x => x.Enabled(true))
    .Groupable(x =>
    {
        x.Enabled(true);
        x.Messages(m => m.Empty("Хванете заглавието на колона и го преместете тук, за да групирате по тази колона."));
    })
    .Reorderable(x => x.Columns(true))
    .Resizable(x => x.Columns(true))
    .DataSource(datasource => datasource
        .Ajax()
        .ServerOperation(true)
        .Model(model => model.Id(x => x.Id))
        .Sort(sort => sort.Add(x => x.CreatedOn).Descending())
        .Create(create => create.Action("Create", ControllerName))
        .Read(read => read.Action("Read", ControllerName))
        .Update(update => update.Action("Update", ControllerName))
        .Destroy(destroy => destroy.Action("Destroy", ControllerName))
    )
)

<script type="text/javascript">
    function onDataBound() {
        CreateExportToExcelButton();
    }
</script>

<script type="text/x-kendo-template" id="questions-template">
    @(Html.Kendo().Grid<OJS.Web.Areas.Administration.ViewModels.ContestQuestion.ContestQuestionViewModel>()
        .Name("DetailGrid_#=Id#")
        .Columns(columns =>
        {
            columns.Bound(m => m.QuestionId);
            columns.Bound(m => m.Text);
            columns.Bound(m => m.Type);
            columns.Bound(m => m.AskPracticeParticipants);
            columns.Bound(m => m.AskOfficialParticipants);
            columns.Bound(m => m.RegularExpressionValidation).Hidden();
            columns.Bound(m => m.CreatedOn).Hidden();
            columns.Bound(m => m.ModifiedOn).Hidden();
            columns.Command(com => com.Edit().Text(" ")).Width(80);
            columns.Command(com => com.Destroy().Text(" ")).Width(80);
        })
        .ToolBar(tool =>
            {
                tool.Create().Text("Добави въпрос");
            })
        .ColumnMenu()
        .Editable(edit =>
            {
                edit.Mode(GridEditMode.PopUp);
                edit.Window(w => w.Title(ViewBag.Title));
                // edit.TemplateName("AddUserToRole");
                edit.DisplayDeleteConfirmation("Наистина ли искате да изтриете елемента?");
            })
        .DataSource(data =>
        {
            data.Ajax()
                .ServerOperation(true)
                .Model(model =>
                {
                    model.Id(m => m.QuestionId);
                })
                .Sort(sort => sort.Add(field => field.CreatedOn))
                .Create(create => create.Action("AddQuestionToContest", ControllerName, new { id = "#= Id #" }))
                .Read(read => read.Action("QuestionsInContest", ControllerName, new { id = "#= Id #" }))
                .Update(update => update.Action("UpdateQuestionInContest", ControllerName, new { id = "#= Id #" }))
                .Destroy(destroy => destroy.Action("DeleteUserFromRole", ControllerName, new { id = "#= Id #" }));
        })
        .ToClientTemplate())
</script>