@charset "UTF-8";

body {
    /* padding-top: 60px; */
    padding-bottom: 40px;
}

pre {
    background-color: #AAAAAA;
    border-color: #AAAAAA;
}

@media (max-width: 1320px) {
    .main-container .administration-container .k-grid .k-grid-header th.k-header {
        overflow: visible;
        white-space: normal;
        word-break: break-all;
    }
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* override bootstrap styles */
.jumbotron {
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px; /* its buggy without it */
}

/*.jumbotron h1 {
        color: #FFF;
    }*/

@media (max-width: 767px) {
    .jumbotron h1 {
        font-size: 48px;
    }
}

@media (max-width: 1200px) {
    .jumbotron h1 {
        font-size: 63.5px;
    }
}

.top-buffer {
    margin-top: 10px;
}

.top-buffer-lg {
    margin-top: 15px;
}

.right-buffer {
    margin-right: 10px;
}

.right-buffer-sm {
    margin-right: 5px;
}

.bottom-buffer {
    margin-bottom: 10px;
}

.bottom-buffer-sm {
    margin-bottom: 5px;
}

.left-buffer {
    margin-left: 10px;
}

.news-content {
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 20px;
    color: #000;
    margin-top: 20px;
}

.profile-info-label {
    display: inline;
    cursor: none;
}

.k-upload {
    display: inline-block;
    width: auto;
}

.test-file-dropdown {
    width: 100%;
}

/*.text-white {
    color: white;
}*/

.drop-down-width {
    width: 175px;
}

.full-editor {
    width: 100%;
    /*height: 30px;*/
}

.full-kendo-editor {
    width: 100%;
}

.form-control {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden-file-upload {
    height: 0;
    width: 0;
    overflow: hidden;
}

.small-margin-top {
    margin-top: 10px;
}

.small-margin-right {
    margin-right: 5px;
}

.captcha-container input {
    line-height: normal !important;
}

/* Code mirror fix for the matrix theme */
.cm-s-the-matrix span.cm-builtin {
    color: #2A9FD6 !important;
}

/* Kendo */
/*.k-alt,
.k-separator {
  background-color: #282828;
}*/

/*.k-state-selected {
    background-color: initial;
}*/

.width100percent {
    width: 100%;
}

.search-box {
    height: 32px;
}

.btn-search {
    padding: 5px 12px;
    border-top: 1px;
}

.search-form {
    line-height: 36px;
}

.btn-search-small {
    line-height: 48px;
}

@media (min-width: 991px) {
    .nav > li > a {
        padding: 18px 9px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav > li > a {
        padding: 15px 7px;
    }
}

.no-padding-right {
    padding-right: 0;
}

#cookies-notification {
    position: fixed !important;
    z-index: 99999998 !important;
    width: 100% !important;
    margin: 0;
    padding: 13px;
    display: block;
    bottom: 0;
    background-color: #000000;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: none;
}

#cookies-notification-button {
    color: #00AA00;
}

.logged-user-wrap {
    width: 260px;
}

    .logged-user-wrap a {
        float: right;
    }

.admin.logged-user-wrap {
    width: 180px;
}

@media only screen and (max-width: 1200px) {
    .search-form {
        padding: 0;
        line-height: 1em;
        margin-top: 5px;
    }

        .search-form form {
            padding: 0;
            margin-left: -5px;
        }
}

@media only screen and (max-width: 992px) {
    .login-form {
        float: none !important;
        display: block;
    }

        .login-form .nav {
            display: block;
        }

            .login-form .nav.navbar-right {
                margin-left: -20px;
            }

    .admin.logged-user-wrap {
        width: auto;
    }

    .admin.search-form {
        display: inline-table !important;
    }

    .btn-search {
        padding: 5px 15px;
    }
}

#fb-root {
    display: none;
}

.fb-page, .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.contests-by-category > tbody > tr > td {
    vertical-align: middle;
}

.contests-by-category .paricipate-compete-buttons {
    text-align: center;
}

    .contests-by-category .paricipate-compete-buttons a {
        display: block;
    }

    .contests-by-category .paricipate-compete-buttons .practice-only {
        padding: 6px 0;
    }

.contests-by-category .results {
    display: inline-block;
    max-width: 90px;
    text-align: center;
}

.contests-by-category .row-results {
    display: inline-block;
}

.contests-by-category .results a {
    display: table;
}

.language-switch {
    margin-top: 7px;
}
    .language-switch a {
        display: block;
    }

@media only screen and (max-width: 1200px) {
    .contests-by-category .results {
        max-width: 60px;
    }

    .contests-by-category .row-results {
        text-align: center;
        max-width: 90px;
    }

        .contests-by-category .row-results a {
            display: table;
        }

    .contests-by-category .problems-count,
    .contests-by-category .edit-contest {
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .contests-by-category .results {
        max-width: 80px;
    }

    .logged-user-wrap a {
        float: none;
    }
}

.feedback-editor-field input {
    width: 100%;
}

pre {
    color: #fff;
}

.monospace-font {
    font-family: "Lucida Console", Monaco, monospace
}

.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    background-color: #0f7864;
}

.inline-form {
    display: inline;
}

.centered-content {
    text-align: center
}