@using GeneralResource = Resources.Areas.Administration.AdministrationGeneral;
@using Resource = Resources.Areas.Administration.Feedback.Views.FeedbackIndexAdmin;

@{
		ViewBag.Title = Resource.Page_title;
		const string ControllerName = "Feedback";
}

@section Styles{
    @Styles.Render("~/Content/css/administration/administration-styles.css")
}

<div class="administration-container">
    <h1>@ViewBag.Title</h1>

    @(Html.Kendo().Grid<OJS.Web.Areas.Administration.ViewModels.FeedbackReport.FeedbackReportViewModel>()
        .Name("DataGrid")
        .Columns(columns =>
        {
            columns.Bound(x => x.Id);
            columns.Bound(x => x.Name);
            columns.Bound(x => x.Content);
            columns.Bound(x => x.IsFixed);
            columns.Bound(x => x.Username);
            columns.Bound(x => x.CreatedOn).Format(GlobalConstants.DefaultDateTimeFormatString).Hidden();
            columns.Bound(x => x.ModifiedOn).Format(GlobalConstants.DefaultDateTimeFormatString).Hidden();
            columns.Command(command => command.Edit().Text(" ").UpdateText(GeneralResource.Change).CancelText(GeneralResource.Cancel)).Width(80);
            columns.Command(command => command.Destroy().Text(" ")).Width(80);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create().Text(GeneralResource.Create);
            toolbar.Custom().Text(GeneralResource.Back_to_navigation).Action("Navigation", "Administration", new { Area = "" }).Name("custom-toolbar-button");
            toolbar.Custom().Text(GeneralResource.Export_to_excel).Name("custom-toolbar-button").HtmlAttributes(new { id = "export" }).Url(Url.Action("ExportToExcel", ControllerName, new { page = 1, pageSize = "~", filter = "!!", sort = "~" }));
        })
        .Editable(editable =>
        {
            editable.Mode(GridEditMode.PopUp);
            editable.Window(w => w.Title(ViewBag.Title));
            editable.DisplayDeleteConfirmation(GeneralResource.Delete_prompt);
        })
        .ColumnMenu()
        .Events(e => e.DataBound("onDataBound"))
        .Pageable(x => x.Refresh(true))
        .Sortable(x => x.Enabled(true).AllowUnsort(false))
        .Filterable(x => x.Enabled(true))
        .Reorderable(x => x.Columns(true))
        .Resizable(x => x.Columns(true))
        .DataSource(datasource => datasource
            .Ajax()
            .ServerOperation(true)
            .Model(model =>
            {
                model.Id(x => x.Id);
            })
            .Sort(sort => sort.Add(x => x.CreatedOn).Descending())
            .Create(create => create.Action("Create", ControllerName))
            .Read(read => read.Action("Read", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            .Events(ev => ev.Error("validateModelStateErrors"))
        )
    )
</div>

<script type="text/javascript">
    function onDataBound(e) {
        CreateExportToExcelButton();
    }
</script>