@using GeneralResource = Resources.Areas.Administration.AdministrationGeneral

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.Kendo().Grid<OJS.Web.Areas.Administration.ViewModels.ExamGroups.ExamGroupAdministrationViewModel>
    ()
    .Name("DataGrid")
    .Columns(columns =>
    {
        columns.Bound(m => m.Id);
        columns.Bound(m => m.Name);
        columns.Bound(m => m.ExternalExamGroupId);
        columns.Bound(m => m.ExternalAppId);
    })
    .Pageable(x => x.Refresh(true))
    .DataSource(datasource => datasource
          .Ajax()
          .ServerOperation(true)
          .Model(model => model.Id(x => x.Id))
          .Read(read => read.Action("Read", "ExamGroups"))
          .Events(ev => ev.Error("validateModelStateErrors")))
    )