{
  "env": {
    "browser": true,
    "node": false,
    "amd": false,
    "mocha": false,
    "jasmine": true,
    "phantomjs": false,
    "jquery": true,
    "prototypejs": false,
    "shelljs": false
  },

  "globals": {
  },

  "plugins": [
  ],
  "parserOptions": {
    "ecmaVersion": 5,
    "ecmaFeatures": {
      "binaryLiterals": false,
      "blockBindings": false,
      "defaultParams": false,
      "forOf": false,
      "generators": false,
      "objectLiteralComputedProperties": false,
      "objectLiteralDuplicateProperties": false,
      "objectLiteralShorthandMethods": false,
      "objectLiteralShorthandProperties": false,
      "octalLiterals": false,
      "regexUFlag": false,
      "regexYFlag": false,
      "templateStrings": false,
      "unicodeCodePointEscapes": false,
      "jsx": false
    }
  },
  "rules": {
    //"yoda": [ "error", "never" ],
    "comma-dangle": [ "error", "never" ],
    "no-cond-assign": [ "error", "always" ],
    "no-console": 0,
    "no-constant-condition": 2,
    "no-control-regex": 0,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-empty-character-class": 0,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": [ "error", "functions" ],
    "no-invalid-regexp": 0,
    "no-irregular-whitespace": [
      "error",
      { "skipComments": true }
    ],
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 0,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,
    "accessor-pairs": 0,
    "array-callback-return": 2,
    "block-scoped-var": 2,
    "complexity": [
      "error",
      { "max": 8 }
    ],
    "consistent-return": 0,
    "curly": [ "error", "all" ],
    "default-case": 2,
    "dot-location": [ "error", "property" ],
    "dot-notation": 2,
    "eqeqeq": [ "error", "smart" ],
    "guard-for-in": 2,
    "no-alert": 0,
    "no-caller": 2,
    "no-case-declarations": 2,
    "no-div-regex": 0,
    "no-else-return": 0,
    "no-empty-function": 0,
    "no-empty-pattern": 0,
    "no-eq-null": 0,
    "no-eval": 2,
    "no-extend-native": 0,
    "no-extra-bind": 0,
    "no-extra-label": 0,
    "no-fallthrough": 2,
    "no-floating-decimal": 0,
    "no-implicit-coercion": 0,
    "no-implicit-globals": 0,
    "no-implied-eval": 2,
    "no-invalid-this": 0,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 0,
    "no-magic-numbers": 0,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new": 2,
    "no-new-func": 0,
    "no-new-wrappers": 2,
    "no-octal": 0,
    "no-octal-escape": 0,
    "no-process-env": 2,
    "no-param-reassign": 0,
    "no-proto": 0,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unmodified-loop-condition": 0,
    "no-unused-expressions": 2,
    "no-unused-labels": 0,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-useless-escape": 2,
    "no-void": 2,
    "no-warning-comments": 0,
    "no-with": 0,
    "radix": 0,
    "vars-on-top": 0,
    "wrap-iife": 0,
    "yoda": [ "error", "never" ],
    "strict": [ "error", "function" ],
    "init-declarations": 0,
    "no-catch-shadow": 0,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-restricted-globals": 0,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-undef": 0,
    "no-undef-init": 0,
    "no-undefined": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "handle-callback-err": 0,
    "no-mixed-requires": 0,
    "no-new-require": 0,
    "no-path-concat": 0,
    "no-process-exit": 0,
    "no-restricted-modules": 0,
    "no-sync": 0,
    "array-bracket-spacing": [ "error", "never" ],
    "block-spacing": [ "error", "always" ],
    "brace-style": [
      "error",
      "1tbs",
      { "allowSingleLine": true }
    ],
    "camelcase": [
      "error",
      { "properties": "always" }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "comma-style": [ "error", "last" ],
    "computed-property-spacing": [ "error", "never" ],
    "consistent-this": [ "error", "self", "that" ],
    "eol-last": 2,
    "func-names": 0,
    "func-style": 0,
    "id-blacklist": 0,
    "id-length": [
      "error",
      {
        "min": 1,
        "max": 40,
        "properties": "always",
        "exceptions": []
      }
    ],
    "id-match": 0,
    "indent": [
      "error",
      4,
      { "SwitchCase": 1 }
    ],
    "jsx-quotes": 0,
    "key-spacing": 0,
    "keyword-spacing": 0,
    "linebreak-style": [ "error", "windows" ],
    "lines-around-comment": [
      "error",
      {
        "beforeBlockComment": true,
        "beforeLineComment": true,
        "allowBlockStart": true
      }
    ],
    "max-depth": [
      "error",
      { "max": 5 }
    ],
    "max-len": [ "error", 140, 4 ],
    "max-nested-callbacks": [
      "error",
      { "max": 3 }
    ],
    "max-params": [
      "error",
      { "max": 5 }
    ],
    "max-statements": 0,
    "max-statements-per-line": [
      "error",
      { "max": 1 }
    ],
    "new-cap": 2,
    "new-parens": 2,
    "newline-after-var": 0,
    "newline-before-return": 0,
    "newline-per-chained-call": 0,
    "no-array-constructor": 2,
    "no-bitwise": 0,
    "no-continue": 0,
    "no-inline-comments": 0,
    "no-lonely-if": 0,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": 2,
    "no-negated-condition": 2,
    "no-nested-ternary": 0,
    "no-new-object": 2,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "no-spaced-func": 2,
    "no-ternary": 0,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": [
      "error",
      { "allowAfterThis": true }
    ],
    "no-unneeded-ternary": 2,
    "no-whitespace-before-property": 2,
    "object-curly-spacing": [ "error", "always" ],
    "one-var": [ "error", "never" ],
    "one-var-declaration-per-line": 0,
    "operator-assignment": 0,
    "operator-linebreak": [ "error", "after" ],
    "padded-blocks": 0,
    "quote-props": 0,
    "quotes": [ "error", "single", "avoid-escape" ],
    "require-jsdoc": 0,
    "semi": [ "error", "always" ],
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "sort-vars": 0,
    "sort-imports": 0,
    "space-before-blocks": 0,
    "space-before-function-paren": 0,
    "space-in-parens": 0,
    "space-infix-ops": 0,
    "space-unary-ops": 0,
    "spaced-comment": 0,
    "wrap-regex": 0
  }
}