<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
      -->

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=OnlineJudgeSystem;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="SulsPlatformBaseUrl" value="https://dev.platform.softuni.bg" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="LearningSystemSvnDownloadBaseUrl" value="https://dev.platform.softuni.bg:82/downloads/svn" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="ApiKey" value="1234" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Remove www" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www\.(.+)$" />
          </conditions>
          <action type="Redirect" url="https://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <rule name="http to https" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
