@using OJS.Web.Areas.Contests.ViewModels
@model IEnumerable<ContestViewModel>
@{
    ViewBag.Title = "Архив състезания";
}

<ol class="breadcrumb">
    <li><a href="/">Начало</a></li>
    <li class="active">Състезания</li>
</ol>

@section Scripts {
    <script src="/Scripts/Contests/list-categories-page.js"></script>
}

<div class="row">
    <div class="col-md-3">
        <h2>@ViewBag.Title</h2>
        @(Html.Kendo().TreeView()
              .Name("contestsCategories")
              .DataTextField("Name")
              .DataSource(dataSource => dataSource
                          .Model(x =>
                          {
                              x.Id("Id");
                              x.HasChildren("HasChildren");
                          })
                          .Read(read => read
                              .Action("ReadCategories", "List", new { area = "Contests" })
                  )
              )
              .Events(x =>
              {
                  x.Select("expander.categorySelected");
                  x.DataBound("expander.onDataBound");
              })
        )
        @if (User.IsAdmin())
        {
            <br />
            <p class="pull-left"><a class="btn btn-primary" href="/Administration/ContestCategories">Категории &raquo;</a></p>
            <p class="pull-right"><a class="btn btn-primary" href="/Administration/ContestCategories/Hierarchy">Йерархия &raquo;</a></p>
            <div class="clearfix"></div>
        }
    </div>
    <div class="col-md-9">
        <div id="contestsList">
        </div>
    </div>
</div>

<script>
    var contestsList = $('#contestsList');
    $.get('/Contests/List/ByCategory/', null, function (data) {
        contestsList.append(data);
    });
</script>
