@using System.Collections

<div id="download-contest-submissions-popup" style="display: none;">
    <form id="download-contest-submissions-form" method="GET" action="/Administration/ContestsExport/Solutions/">
        <section>
            <input type="hidden" id="contest-id" name="id"/>
        </section>

        <div class="text-center">
            <div class="editor-field">
                <input type="radio" checked="checked" value="true" name="compete" id="compete-true"/>
                <label for="compete-true">Решения на състезанието</label>
            </div>

            <div class="editor-field">
                <input type="radio" value="false" name="compete" id="compete-false"/>
                <label for="compete-false">Решения на упражненията</label>
            </div>
        </div>

        <hr style="border-color: #94C0D2; width: 50%; margin-top: 5px; margin-bottom: 5px"/>

        <section class="text-center top-buffer">
            <div class="editor-field">
                @(Html.Kendo().DropDownList()
                    .Name("exportType")
                    .DataValueField("Id")
                    .DataTextField("Name")
                    .Events(e => e.Open("Ojs.KendoControls.DropDownList.alignDropDownToInput"))
                    .SelectedIndex(1)
                    .BindTo((IEnumerable) ViewBag.SubmissionExportTypes)
                )
            </div>
        </section>

        <section class="text-center top-buffer">
            <input type="submit" class="btn btn-success" value="Свали решенията"/>
        </section>
    </form>
</div>
