.list-group {
    font-size: 0.8em;
}

.list-group-item {
    line-height: 20px;
}

.contests-scrollable-container {
    height: 400px;
    overflow: auto;
}

    .contests-scrollable-container > table td.participate {
        vertical-align: middle;
    }

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
}

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

#previous-contests {
    font-size: 0.9em;
}

    #previous-contests p {
        font-size: 0.85em;
    }

@media only screen and (min-width: 991px) {
    .video-wrapper {
        width: 96.5%;
        padding-bottom: 54.25%; /* 16:9 */
    }
}